#myheader {
    font-size: 50px;
    background-color: teal;
    text-align:center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid whitesmoke;
}
#subheading {
    font-size: 20px;
}
.heart-icon {
    color: blue;
}
#workexphead {
    background-color: beige;
}
.projectheader{
    background-color: beige;
}
#work_timeline{
    background-color: beige;
}
#featured_work{
    background-color: beige;
}
.teaching_1{
    width: 160px;
    margin-top: 10px;
    /* margin-right: 550px; */
    right:260px;
    /* position: relative; */
    /* left: 20px; */
}
.teaching_2{
    width: 160px;
    /* margin-left: 10px; */
    margin-top: 10px;
    right: 250px;
}
.teaching_3{
    margin-top: 10px;
    right: 230px;
}
.card-img-top{
    height: 90px;
    /* width: 100px; */
}
.card-img-top-2{
    height: 100px;
    /* width: 400px; */
}
.container{
    /* left: 80px; */
}